
{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center mt-5">
    <div>   

     <h2 class="d-flex justify-content-center">Hello {{ app.user.username }}!</h2>

        <div class="container">
        <p>je vais devoir trouver une idée comme page de 'au bon acceuil' du site zebi</p>
        </div>

    </div>

</div>
{% endblock %}
