{% extends 'base.html.twig' %}

{% block title %}
    Bastardo - Inscription
{% endblock %}

{% block body %}
    <h1 class="d-flex justify-content-center mt-4">Formulaire d'inscription</h1>

    <div class="d-flex justify-content-center mt-5">

        <fieldset>
            <legend>Connectes toi pour trouver les filles chaudes de ta région</legend>


         {{ form(form) }} 

    </div>

{% endblock %}